* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: auto;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    padding: 346px, 34px;
}

.btn {
    background-color: #30b868;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

#banner {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(assets/hero-bg.png);

}

#banner .banner-content {
    padding: 115.5px 120px 179.5px 120px;
    max-width: 1360px;
    color: white;
    font-size: 18px;
}

#banner .banner-content h1{
    padding: 115.5 120 179.5 120;
    font-size: 770px, 168px;
    font-weight: 600;
    color: white;
    font-size: 72px;
}

#banner .banner-content p{
    margin-bottom: 32px;
    line-height: 24px;
}

#banner .banner-content #abc{
    font-size: 15px;
    background-color: white;
    display: inline-block;
    font-weight: bold;
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-radius: 1000px;
}

#banner .banner-content .green{
    color: #30B868;
}

.btn1 {
    background-color: #30b868;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.btn2 {
    background-color: rgba(0, 0, 0, 0);
    padding: 16px 12px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

#notes {
    background-color: #f9555500;
}

#notes .notes-container {
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    
}

#notes .notes-container .notes-box {
    display: flex;
    gap: 24px;
}

.notes-box .notes-cards {
    padding: 30px;
    text-align: center;
    box-shadow: 0 6px 50px 0 #00000025;
    max-width: 267px;
}

.notes-cards img {
    max-width: 44px;
    margin-bottom: 30px;
    background-color: #f95555;
    border-radius: 50%;
    padding: 15px;
}

.notes-cards h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.notes-cards p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.section-heading {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 44px;
}

.section-heading h2 {
    font-size: 48px;
    color: #001931; 
    font-weight: Bold;
    margin-bottom: 16px;
    margin-top: 16px;
}

.section-header p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382; 
}

#brain {
    padding-top: 120px;
}

#brain .brain-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    
}

.img-box {
    max-width: 600px;
}

.sol-container {
    padding: 102px 0px 102px 60px;
}

#sol {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 16px;
}

.sol-container p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 40px;
}

.sol-container h2 {
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 16px;

}


.capture{
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;

}

#Ready {
    padding-top: 120px;
    padding-bottom: 120px;
}

#Ready .Ready-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #f7f6f2;
    text-align: center;
}

#Ready .Ready-container h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Ready .Ready-container .btn3 {
    margin-bottom: 16px;
    padding: 12px 16px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    cursor: pointer;
    gap: 10px;
    margin-top: 16px;
    border: none;
}

#Ready .Ready-container p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
}

#Ready .Ready-container #p2 {
    padding-bottom: 30px;
    line-height: 20px;

}

footer {
    max-width: 1600px;
    background-color: #001931;
    margin: 0 auto;
    color: white;
}

#foot-container{
    max-width: 1360px;
}

.foot-upper {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 80px;
}

.foot-logo {
    padding-left: 120px;
}

.social {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 50px;
}

.icons {
    padding-top: 16px;
}
.foot-bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}